::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #aaa;
}
body {
  font-family: Consolas, Cascadia Code, NSimSun, serif, sans-serif;
}
a {
  text-decoration: none;
  color: #525252;
}
a:hover,
a:focus {
  color: #409eff;
}
#paper-plane {
  position: fixed;
  top: 10px;
  left: 10px;
}
.center-area {
  width: 1000px;
  margin: 30px auto 0;
}
@media screen and (max-width: 768px) {
  .center-area {
    width: 100%;
  }
}
.music-drawer,
.music-drawer-active {
  position: fixed;
  bottom: 10px;
  width: 360px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.music-drawer {
  left: -330px;
  transition: left 1s;
}
.music-drawer-active {
  left: 8px;
}
